/* colors */
color-1 = #686D76
color-2 = #373A40
color-3 = #EEEEEE
color-4 = #FF204E
color-5 = #3c8700

html
    font-size: 10px

body
    font-size: 1.6rem
    font-family: "Open Sans", system-ui, 'Segoe UI', Helvetica, Arial, sans-serif
    background-color: color-1
    color: color-3

a, button
    cursor: pointer

a
    text-decoration: none
    color: color-3
    font-weight: bold
    transition: color .3s ease-in-out
    &:hover
        color: color-4

.wrapper
    margin: 0 auto
    max-width: 1200px
    @media (max-width: 1200px)
        padding: 0 20px
    

.title
    font-family: "Rubik Mono One", monospace
    text-transform: uppercase
    font-size: 3.5rem

.link
    display: block
    outline: none
    transition: transform .3s ease-in-out
    &:hover
        transform: scale(1.1)
    &--github
        width: 40px
        height: 40px
        background: url("../icons/github.svg") center / 32px no-repeat

.button
    display: inline-block
    outline: none
    border: none
    border-radius: 5px
    color: color-3
    font-weight: bold
    font-size: 2rem
    cursor: pointer
    transition: all .3s ease-in-out
    text-transform: uppercase
    &--delete
        width: 40px
        height: 40px
        background: url("../icons/delete.svg") center / 32px no-repeat
        &:hover
            transform: scale(1.1)
    &--submit
        color: color-2
        padding: 2px 20px
        border: 3px solid color-2
        &:hover, &&:focus
            border: 3px solid color-5
    &--remove
        color: color-2
        padding: 2px 8px
        font-size: 1.6rem
        border: 3px solid color-2
        &:hover, &&:focus
            border: 3px solid color-4
    &--status
        color: color-2
        padding: 2px 8px
        font-size: 1.6rem
        border: 3px solid color-2
        &:hover, &&:focus
            border: 3px solid color-4


.header
    padding: 15px 0
    background-color: color-2
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.35)
    &__inner
        display: flex
        align-items: center
        justify-content: space-between
    &__menu
        cursor: pointer
        display: flex
        gap: 25px

.library
    padding: 40px 0
    &__item>td:last-child
        text-align: end


.description
    margin-bottom: 40px
    line-height: 2
    padding-bottom: 40px
    border-bottom: 1px solid color-2

.entry-field
    display: flex
    justify-content: space-between
    align-items: flex-end
    gap: 1rem
    margin-bottom: 20px
    @media (max-width: 768px)
        align-items: stretch
        flex-direction: column
    &__item
        flex: 1 0 0
        display: flex
        flex-direction: column
        gap: 5px
        & .invalid
            border: 3px solid color-4 !important
        & .valid
            border: 3px solid color-5 !important
        & input, select
            flex: 1 0 0
            padding: 5px 10px
            border: 3px solid color-2
            outline: none
            border-radius: 5px
        & label
            font-weight: bold

.error-message
    color: color-4
    min-height: 24px;

.table
    border-collapse: collapse
    width: 100%
    & thead > tr
        border-bottom: 1px solid color-2
    & tbody tr
        text-align: center
    & th
        padding 18px 0
    & td
        padding 18px 0

.read-status
    font-weight: bold
    text-transform: uppercase
